*{
    background-color: darkgray;
}
body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
button{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.answers{
    border-radius: 25%;
    height: 400px;
    width: 800px;
    background-color: rgb(141, 24, 141);
}
.answer{
    
    width: 100%;
    height: 25%;
}
#question{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 500px;
    margin: 20px;
    font-size: 50px;
    background-color: rgb(141, 24, 141);
}